      body {
				font-size: 100%;
				font-family: "Segoe UI", "Helvetia", sans-serif;
				background-color: #e7e7e7;
        max-width: 850px;
				min-width: 720px;
				margin: 10px auto 10px auto;
				padding: 20px;
      }
			#name {
        text-align: center;
      }
      #about {
        font-size: normal;
        float: left;
        width: 400px;
        padding: 15px;
        margin: 0px 0px 0px 50px;
      }
      #bookstore {
        margin: 30px auto 30px auto;
        border: 4px double #000;
      }
      #pizza {
        margin: 30px auto 30px auto;
        border: 4px double #000;
      }
      #radio {
        margin: 30px auto 30px auto;
        border: 4px double #000;
      }

      #albums {
        margin: 30px auto 30px auto;
        border: 4px double #000;
        text-align: center;
      }

      #interviews {
        margin: 30px auto 30px auto;
        border: 4px double #000;
        text-align: center;
      }
      #glove {
        width: 700px;
        height: 500px;
        float: right;
      }
      #designs {
        margin: 30px auto 30px auto;
        border: 4px double #000;
      }

        ul {
          max-width: 850px;
  				min-width: 720px;
  				padding: 15px;
  				margin: 0px auto 0px auto;
  				border-top: 1px solid #000;
  				border-bottom: 1px solid #000;
  				text-align: center;}
          li {
    				display: inline;
            padding: 30px;
    				margin: 0px 3px;}
			p {
				width: 700px;
				margin: 20px auto 20px auto;
				font-weight: normal;
       }
			a {
				color: #000000;
				text-transform: uppercase;
				text-decoration: none;}
			a:hover, a.on {
				color: #8083c9;}
      h1 {
        width: 700px;
        padding: 15px;
        padding-bottom: 30px;
        margin: 0px auto 0px auto;
        font-size: 300%;
        text-align: center;
      }
      h2 {
        text-align: center;
      }
      h3 {
        text-align: center;
      }
      iframe {
        width: 700px;
        text-align: center;
      }
      img {
        min-width: 300px;
        max-width: 50%;
        max-height: 70%;
        padding: 0px 0px 0px 30px;
        float: right;
      }
      video {
        min-width: 650px;
        max-width: 70%;
        max-height: 70%;
        padding: 15px 0px 0px 85px;
        margin: auto 0px;
        display: block;
        text-align: center;
      }
      h4 {
        font-size: 200%;
      }
      h5 {
        width: 700px;
        padding: 15px;
        margin: 0px auto 0px auto;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        margin: 0px auto 0px auto;
        font-size: 230%;
        text-align: center;
      }
      #bottomtext {
        text-align: center;
      }
}
